// Colors 

$primary-color-1: #605e5e;
$primary-color-2: #ffffff;

$background-color:#000000;

$menu-background-color:#202325;

$supporting-color:#232940;
$button-color:#2B2E4A;
$supporting-color-2:#5d9a75;

