@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.routines{
    padding: 1.6rem 2.4rem;
    &__title-container{
        display: flex;
        justify-content: space-between;
        
    }
    &__title{
        padding-bottom: 1.6rem;
    }
    &__add{
        color: $primary-color-2;
    }
}