@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.performance {
  background-color: $primary-color-2;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.9rem -0.1rem rgba(196, 193, 193, 0.25);
  padding: 1rem;
  padding-left: 0;
  margin-bottom: 1.6rem;
  // width: 60rem;
  width:34rem;
  height:20rem;
  // height: 30rem;
  

  &__header{
    display: flex;
    padding: 0 0.5rem;
    justify-content: space-between;

  }
}
